.image {
    clip-path: path(
        "M35.1723 26.3281C5.17234 53.3281 5.17234 55.3281 35.1723 99.3281C25.839 103.661 6.17234 117.928 2.17234 140.328C-2.82766 168.328 9.17234 207.328 19.1723 226.328C29.1723 245.328 51.1723 266.328 86.1723 272.328C121.172 278.328 155.172 270.328 163.172 238.328C171.172 206.328 146.172 217.328 155.172 189.328C164.172 161.328 196.172 172.328 206.172 165.328C216.172 158.328 225.172 138.328 216.172 119.328C207.172 100.328 192.172 99.3281 178.172 99.3281C164.172 99.3281 135.172 125.328 135.172 99.3281C135.172 73.3281 188.172 56.3281 184.172 31.3281C180.172 6.32811 160.172 -2.67189 135.172 2.32811C110.172 7.32811 129.172 26.3281 99.1723 26.3281C69.1723 26.3281 65.1723 -0.67189 35.1723 26.3281Z"
    );
    transition: 1s;
    // height: auto;
    // width: 230px;
    // object-fit: cover;
    &:hover {
        clip-path: path(
            "M0.898926 31.0459C0.898885 59.3237 0.899811 76.0459 6.7309 126.046C-2.60243 130.379 10.7308 136.646 6.73082 159.046C1.73082 187.046 3.8999 254.046 13.8999 273.046C23.8999 292.046 55.7308 285.046 90.7308 291.046C125.731 297.046 202.731 305.046 210.731 273.046C218.731 241.046 210.731 258.129 210.731 228.718C210.731 196.324 210.731 190.324 210.731 184.046C210.731 171.839 220.731 150 220.731 131.324C220.731 110.3 220.731 105.046 220.731 105.046C220.731 105.046 220.731 102.046 220.731 76.0459C220.731 50.0459 233.673 20.5739 208 16C183 11.5459 170.269 2.99999 139 3.00001C109.432 3.00002 127 3 97 3C67 3 0.898985 -9.31498 0.898926 31.0459Z"
        );
    }
}
.other {
    clip-path: path(
        "M0.898926 31.0459C0.898885 59.3237 0.899811 76.0459 6.7309 126.046C-2.60243 130.379 10.7308 136.646 6.73082 159.046C1.73082 187.046 3.8999 254.046 13.8999 273.046C23.8999 292.046 55.7308 285.046 90.7308 291.046C125.731 297.046 202.731 305.046 210.731 273.046C218.731 241.046 210.731 258.129 210.731 228.718C210.731 196.324 210.731 190.324 210.731 184.046C210.731 171.839 220.731 150 220.731 131.324C220.731 110.3 220.731 105.046 220.731 105.046C220.731 105.046 220.731 102.046 220.731 76.0459C220.731 50.0459 233.673 20.5739 208 16C183 11.5459 170.269 2.99999 139 3.00001C109.432 3.00002 127 3 97 3C67 3 0.898985 -9.31498 0.898926 31.0459Z"
    );
}
